.slider{
    position: relative;
    top: 70px;
    height: 70vh;
}
.head{
    font-size: 2.5rem;
    text-transform: capitalize;
    text-align: center;
}
.content{
    /* margin: 50px 10px; */
    background: rgba(0, 0, 00, 0.2);
    color: white;
    height: 100%;
    padding: 10px 20px;
}
.overview{
    width: 60%;
    font-size: 1.4rem;
    /* box-shadow: 0 0 0 rgba(0, 0, 0, 0.5); */
    letter-spacing: 1px;
    padding: 10px;
    margin-top: 40px;
}
.choosebut{
    padding: 1rem 2rem;
    color: white;
    border: 2px solid white;
    background: none;
    border-radius: 8px;
    margin: 10px;
    font-size: 1.3rem;
}
.choosebut:hover{
    background-color: white;
    color: black;
}