.planPage{
    position: relative;
    padding-top: 80px;
    background-color: rgb(236, 233, 253);
    padding-bottom: 100px;
}
.intro{
    height: 100%;
    margin: auto auto;
    color: white;
    letter-spacing: 1px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(69, 68, 68, 0.3);
}
.intro p{
    margin: 20px 40px ;
    font-size: 1.3rem;
}
.title{
    margin-left: 10px;
    font-size: 2.7rem;
    text-transform: capitalize;
    color: rgb(21, 21, 21);
}
.planslist{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-wrap: wrap;
}